<!DOCTYPE html>
<html>
  <head>
    <title>BlogSys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  </head>

  <body>
    <%= render partial:'layouts/header' %>
    <section id="site-content">
    <%= yield %>
    </section>
  </body>
</html>
